openapi: 3.0.3
info:
  title: PSI swagger 15-09-2026
  version: v0.9.1
  description: >
    ### L'API Pro Santé Identité (PSI) permet de :
      - **Inscrire** un personnel en santé dans Pro Santé Identité
      - **Obtenir** le ou les identifiants RPPS associés à une identité
      - **Transmettre** au RPPS la création ou l’arrêt d’une activité d’un PS
      - **Commander** une carte CPx

  contact:
    name: "Pro Santé Identité"
    url: "https://psi.esante.gouv.fr"
servers:
  - url: https://psi-partenaire.gateway.api.esante.gouv.fr
    description: Gravitee
paths:
  /v1/identities:
    post:
      tags:
        - identity-controller
      summary: Crée une nouvelle identité PSI
      operationId: registerIdentity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterIdentityRequestDto'
            examples:
              frenchCitizenWithCardOrderPsiByES:
                summary: Inscription par un ES d'un PS RPPS né en France avec commande de carte PSI et création d'activité
                description: Exemple d'inscription d'un professionnel de santé avec commande de carte réalisée par un établissement de santé
                value:
                  lastName: PAYETTE
                  firstNames: Thaïs Kayla Aliyah
                  birthDate: "2005-02-10"
                  genderCode: F
                  frenchNationality: true
                  birthLocationCode: "97416"
                  professionalLastName: PAYETTE
                  email: thais.payette@yopmail.com
                  phone: "+33620002675"
                  identifier: "810009151500"
                  employment:
                    function: "Responsable légal ou personne habilitée à engager la structure"
                    issuingEstablishment: "1123456789"
                    employmentStartDate: "2026-06-15"
                    employmentEndDate: "2027-06-15"
                  activity:
                    professionCode: "10"
                    professionalCategoryCode: "C"
                    activityStartDate: "2026-06-15"
                    activityEndDate: "2027-06-30"
                    function: "FON-01"
                    activityGenre: "GENR01"
                    practiceMode: "L"
                    liberalActivityTypeCode: "ACT-LIB-01"
                    activityEndReason: "AUT"
                    issuingEstablishment: '19197161460104'
                    numFINESSET: ''
                    numSIRET: ''
                    rppsRank: '19197161460104'
                  cardOrderPsi:
                    addressee: DR PAYETTE Thaïs
                    streetNumber: "10"
                    streetName: RUE DE LA PAIX
                    additionalAddress: Bâtiment B
                    postalCode: "75002"
                    city: PARIS
                    country: FRANCE

              frenchCitizenWithCardOrderCpsByES:
                summary: Inscription par un ES d'un PS RPPS né en France avec commande de carte CPS et création d'activité
                description: Exemple d'inscription d'un professionnel de santé avec commande de carte réalisée par un établissement de santé
                value:
                  lastName: PAYETTE
                  firstNames: Thaïs Kayla Aliyah
                  birthDate: "2005-02-10"
                  genderCode: F
                  frenchNationality: true
                  birthLocationCode: "97416"
                  professionalLastName: PAYETTE
                  email: thais.payette@yopmail.com
                  phone: "+33620002675"
                  identifier: "810009151500"
                  employment:
                    function: "Mandataire"
                    issuingEstablishment: "312345678901234"
                    employmentStartDate: "2026-06-01"
                    employmentEndDate: "2027-06-01"
                  activity:
                    professionCode: "10"
                    professionalCategoryCode: "C"
                    activityStartDate: "2026-06-15"
                    activityEndDate: "2027-06-30"
                    function: "FON-01"
                    activityGenre: "GENR01"
                    practiceMode: "L"
                    liberalActivityTypeCode: "ACT-LIB-01"
                    activityEndReason: "AUT"
                    issuingEstablishment: '19197161460104'
                    numFINESSET: ''
                    numSIRET: ''
                    rppsRank: '19197161460104'
                  cardOrderCps:
                    professionCode: "10"
                    professionalCategoryCode: "C"

              foreignCitizenByES:
                summary: Inscription par un ES d'un PS non RPPS étranger
                description: Exemple d'inscription d'un professionnel de santé étranger qui n'a pas la nationalité française par un établissement de santé
                value:
                  lastName: D'HONDT
                  firstNames: Marie-Louise Godelieve
                  birthDate: "1999-07-05"
                  genderCode: F
                  frenchNationality: false
                  birthLocationCode: "99131"
                  birthPlace: "Ottignies-Louvain-la-NeuveOSLO"
                  email: marie-louise.dhondt@yopmail.com
                  phone: "+4740612345"
                  identifier: "538052778800000/1000"
                  employment:
                    function: "Gestionnaire d'identité numérique"
                    issuingEstablishment: "412345678901234"
                    employmentStartDate: "2026-06-05"
                    employmentEndDate: "2027-06-05"
              foreignCitizenByRPPS:
                summary: Inscription par un RPPS d'un PS RPPS étranger
                description: Exemple d'inscription d'un professionnel de santé étranger qui n'a pas la nationalité française par le Répertoire partagé des professionnels de santé (RPPS)
                value:
                  lastName: MEYOPOU
                  firstNames: Gautier Marouane
                  birthDate: "1938-08-28"
                  genderCode: M
                  birthLocationCode: "99352"
                  birthPlace: M'CHEDALLAH
                  professionalLastName: MEYOPOU
                  frenchNationality: false
                  email: gautier.meyopou@yopmail.com
                  phone: "+33620000428"
                  identifier: "810009781080"
                  employment:
                    function: "Professionnel Achat-Logistique"
                    issuingEstablishment: "1330783648"
                    employmentStartDate: "2026-06-02"
                    employmentEndDate: "2027-06-02"
              foreignCitizenByESWithCardOrder:
                summary: Inscription par un ES d'un PS non RPPS étranger avec commande de carte PSI
                description: Exemple d'inscription d'un professionnel de santé étranger qui n'a pas la nationalité française avec commande de carte PSI par un établissement de santé
                value:
                  lastName: D'HONDT
                  firstNames: Marie-Louise Godelieve
                  birthDate: "1999-07-05"
                  genderCode: F
                  frenchNationality: false
                  birthLocationCode: "99131"
                  birthPlace: "Ottignies-Louvain-la-NeuveOSLO"
                  email: marie-louise.dhondt@yopmail.com
                  phone: "+4740612345"
                  identifier: "538052778800000/1000"
                  cardOrderPsi:
                    addressee: DR D'HONDT Marie-Louise
                    streetNumber: "10"
                    streetName: RUE DE LA PAIX
                    additionalAddress: Bâtiment B
                    postalCode: "75002"
                    city: PARIS
                    country: FRANCE
                  employment:
                    function: "Professionnel Gestion de l'information"
                    issuingEstablishment: "318751275100038"
                    employmentStartDate: "2024-01-16"
                    employmentEndDate: "2025-01-16"
              frenchCitizenWithCardOrderPsiByRPPS:
                summary: Inscription par un RPPS d'un PS RPPS né en France avec commande de carte PSI
                description: Exemple d'inscription d'un professionnel de santé avec commande de carte PSI réalisée par le Répertoire partagé des professionnels de santé (RPPS)
                value:
                  lastName: PAYETTE
                  firstNames: Thaïs Kayla Aliyah
                  birthDate: "2005-02-10"
                  genderCode: F
                  birthLocationCode: "97416"
                  professionalLastName: PAYETTE
                  email: thais.payette@yopmail.com
                  phone: "+33620002675"
                  identifier: "810009151500"
                  frenchNationality: true
                  cardOrderPsi:
                    addressee: DR PAYETTE Thaïs
                    streetNumber: "10"
                    streetName: RUE DE LA PAIX
                    additionalAddress: Bâtiment B
                    postalCode: "75002"
                    city: PARIS
                    country: FRANCE
                  employment:
                    function: "Professionnel Ingénierie et maintenance technique"
                    issuingEstablishment: "1198765432"
                    employmentStartDate: "2026-09-03"
                    employmentEndDate: "2027-09-03"
              frenchCitizenWithActivityAndCardOrderCpsByRPPS:
                summary: Inscription par un RPPS d'un PS RPPS né en France avec commande de carte CPS et création/modification d'une activité
                description: Exemple d'inscription d'un professionnel de santé avec commande de carte CPS réalisée par le Répertoire partagé des professionnels de santé (RPPS) et création/modification d'une activité
                value:
                  lastName: PAYETTE
                  firstNames: Thaïs Kayla Aliyah
                  birthDate: "2005-02-10"
                  genderCode: F
                  birthLocationCode: "97416"
                  professionalLastName: PAYETTE
                  email: thais.payette@yopmail.com
                  phone: "+33620002675"
                  identifier: "810009151500"
                  frenchNationality: true
                  cardOrderCps:
                    professionCode: "10"
                    professionalCategoryCode: "C"
                  employment:
                    function: "Professionnel Management, gestion et aide à la décision"
                    issuingEstablishment: "498765432109876"
                    employmentStartDate: "2026-02-15"
                    employmentEndDate: "2027-02-15"
                  activity:
                    professionCode: "10"
                    professionalCategoryCode: "C"
                    activityStartDate: "2026-06-15"
                    activityEndDate: "2027-06-30"
                    function: "FON-01"
                    activityGenre: "GENR01"
                    practiceMode: "L"
                    liberalActivityTypeCode: "ACT-LIB-01"
                    activityEndReason: "AUT"
                    issuingEstablishment: "19197161460104"
                    numFINESSET: ""
                    numSIRET: ""
                    rppsRank: "19197161460104"

              foreignCitizenByRPPSWithActivity:
                summary: Inscription par un ES d'un PS RPPS né en France avec création/modification d'activité en cabinet
                description: Exemple d'inscription d'un professionnel de santé étranger RPPS né en France par un établissement de santé avec création/modification d'activité en cabinet
                value:
                  lastName: PAYETTE
                  firstNames: Thaïs Kayla Aliyah
                  birthDate: "2005-02-10"
                  genderCode: F
                  birthLocationCode: "97416"
                  professionalLastName: PAYETTE
                  frenchNationality: true
                  email: thais.payette@yopmail.com
                  phone: "+33620002675"
                  identifier: "810009151500"
                  employment:
                    function: "Professionnel Qualité, hygiène, sécurité et environnement"
                    issuingEstablishment: "300000000000012"
                    employmentStartDate: "2026-07-15"
                    employmentEndDate: "2027-07-15"
                  activity:
                    professionCode: "10"
                    professionalCategoryCode: "C"
                    activityStartDate: "2026-06-15"
                    activityEndDate: "2027-06-30"
                    function: "FON-01"
                    activityGenre: "GENR01"
                    practiceMode: "L"
                    liberalActivityTypeCode: "ACT-LIB-01"
                    activityEndReason: "AUT"
                    issuingEstablishment: "19197161460104"
                    numFINESSET: ""
                    numSIRET: ""
                    rppsRank: "19197161460104"
              
              frenchCitizenWithCardOrderCpsByRPPS:
                summary: Inscription par un RPPS d'un PS RPPS né en France avec commande de carte CPS
                description: Exemple d'inscription d'un professionnel de santé avec commande de carte CPS réalisée par le Répertoire partagé des professionnels de santé (RPPS)
                value:
                  lastName: PAYETTE
                  firstNames: Thaïs Kayla Aliyah
                  birthDate: "2005-02-10"
                  genderCode: F
                  birthLocationCode: "97416"
                  professionalLastName: PAYETTE
                  email: thais.payette@yopmail.com
                  phone: "+33620002675"
                  identifier: "810009151500"
                  frenchNationality: true
                  cardOrderCps:
                    professionCode: "10"
                    professionalCategoryCode: "C"
                  employment:
                    function: "Professionnel Recherche clinique"
                    issuingEstablishment: "1122334455"
                    employmentStartDate: "2026-07-15"
                    employmentEndDate: "2027-07-15"
              foreignCitizenWithCardOrderByESAtForeignAddress:
                summary: Inscription par un ES d'un PS non RPPS étranger avec commande de carte PSI à l'étranger
                description: Exemple d'inscription d'un professionnel de santé avec commande de carte PSI réalisée par un établissement de santé dans un autre pays que la France
                value:
                  lastName: D'HONDT
                  firstNames: Marie-Louise Godelieve
                  birthDate: "1999-07-05"
                  genderCode: F
                  birthLocationCode: "99131"
                  birthPlace: "Ottignies-Louvain-la-NeuveOSLO"
                  email: marie-louise.dhondt@yopmail.com
                  phone: "+4740612345"
                  frenchNationality: false
                  identifier: "538052778800000/1000"
                  cardOrderPsi:
                    addressee: DR D'HONDT Marie-Louise
                    streetNumber: "9"
                    streetName: Sognsvannsveien
                    postalCode: "0373"
                    city: OSLO
                    country: NORVEGE
                  employment:
                    function: "Professionnel Social, éducatif, psychologique et culturel"
                    issuingEstablishment: "412398765432109"
                    employmentStartDate: "2026-08-15"
                    employmentEndDate: "2027-08-15"
        required: true
      responses:
        '201':
          description: Identité créée. Le RNIPP a trouvé la personne sans divergence
            d'état civil (code réponse identification RNIPP = 2)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterIdentityResponseDto'
              example:
                status: 201
                identity:
                  status: 201
                  id: 550e8400-e29b-41d4-a716-446655440001
                  rppsIdentifiers:
                    - '810000000000'
                    - '810000000111'
                  identityTraits:
                    lastName: DUPONT
                    firstNames: Jean Pierre
                    birthDate: 1995-02-15
                    genderCode: M
                    birthLocationCode: '33063'
                    professionalLastName: Durant
                  message: "Le compte PSI a été créé avec succès. Plusieurs numéros RPPS ont été trouvés pour ces traits d'identité."
                  rnippData:
                    metadonnees:
                      dateIdentification: 2025-06-03 09:17:45+00:00
                      codeReponseIdentification: 2
                      divergences:
                        nom: false
                        prenoms: false
                        sexe: false
                        dateNaissance: false
                        lieuNaissance: false
                      statutDuNomIdentifie: O
                    individu:
                      identites:
                        - statut: O
                          nom: DUPONT
                          prenoms:
                            - Jean
                            - Pierre
                        - statut: C
                          nom: DUPONT
                      sexe: M
                      naissance:
                        date: 1995-02-15
                        lieu:
                          code: '33063'
                          libelleCommune: Bordeaux
                          libellePays: France
                        numeroActe: '1234'
                      deces: null

        '207':
          description: "Réponse multiple, où plusieurs services interviennent (ex: PSI + création d'activité / commande de carte)"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/RegisterIdentityOKWithActivityResponseDto'
                  - $ref: '#/components/schemas/RegisterIdentityOKWithCardOrderPsiResponseDto'
                  - $ref: '#/components/schemas/RegisterIdentityOKWithCardOrderCpsResponseDto'
                  - $ref: '#/components/schemas/ForeignRnippNotFoundErrorWithActivityOKDto'
                  - $ref: '#/components/schemas/PSIConflictErrorWithActivityOKDto'
              examples:
                RegisterSuccessWithActivitySuccessResponse:
                  summary: Réponse inscription PS avec création d'activité réussie
                  value:
                    status: 207
                    identity:
                      status: 201
                      id: 550e8400-e29b-41d4-a716-446655440002
                      rppsIdentifiers:
                        - '810000000000'
                      identityTraits:
                        lastName: DUPONT
                        firstNames: Jean Pierre
                        birthDate: 1995-02-15
                        genderCode: M
                        frenchNationality: true
                        birthLocationCode: '33063'
                        professionalLastName: Durant
                      message: "Le compte PSI a été créé avec succès."
                      rnippData:
                        metadonnees:
                          dateIdentification: 2025-06-03 09:17:45+00:00
                          codeReponseIdentification: 2
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: O
                        individu:
                          identites:
                            - statut: O
                              nom: DUPONT
                              prenoms:
                                - Jean
                                - Pierre
                            - statut: C
                              nom: DUPONT
                          sexe: M
                          naissance:
                            date: 1995-02-15
                            lieu:
                              code: '33063'
                              libelleCommune: Bordeaux
                              libellePays: France
                            numeroActe: '1234'
                          deces: null
                    activity:
                      status: 201
                      code: E04_U010_ACTIVITY_CREATED
                      message: L'activité a été créée

                RegisterSuccessWithActivitySuccessAndCardOrderPsiSuccessResponse:
                  summary: Réponse inscription PS avec création d'activité réussie et commande de carte PSI réussie
                  value:
                    status: 207
                    identity:
                      status: 201
                      id: 550e8400-e29b-41d4-a716-446655440002
                      rppsIdentifiers:
                        - '810000000000'
                      identityTraits:
                        lastName: DUPONT
                        firstNames: Jean Pierre
                        birthDate: 1995-02-15
                        genderCode: M
                        frenchNationality: true
                        birthLocationCode: '33063'
                        professionalLastName: Durant
                      message: "Le compte PSI a été créé avec succès."
                      rnippData:
                        metadonnees:
                          dateIdentification: 2025-06-03 09:17:45+00:00
                          codeReponseIdentification: 2
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: O
                        individu:
                          identites:
                            - statut: O
                              nom: DUPONT
                              prenoms:
                                - Jean
                                - Pierre
                            - statut: C
                              nom: DUPONT
                          sexe: M
                          naissance:
                            date: 1995-02-15
                            lieu:
                              code: '33063'
                              libelleCommune: Bordeaux
                              libellePays: France
                            numeroActe: '1234'
                          deces: null
                    activity:
                      status: 201
                      code: E04_U010_ACTIVITY_CREATED
                      message: L'activité a été créée
                    cardOrderPsi:
                      status: 201
                      code: E04_U010_CARD_ORDER_SUCCESSFUL
                      message: La commande de carte a été effectuée avec succès
                      addressee: DR DUPONT Jean,
                      shippingAddress: 10 RUE DE LA PAIX Bâtiment B 75002 PARIS FRANCE

                RegisterSuccessWithActivityFailedAndCardOrderPsiFailedResponse:
                  summary: Réponse inscription PS avec création d'activité échouée et commande de carte PSI échouée
                  value:
                    status: 207
                    identity:
                      status: 201
                      id: 550e8400-e29b-41d4-a716-446655440002
                      rppsIdentifiers:
                        - '810000000000'
                      identityTraits:
                        lastName: DUPONT
                        firstNames: Jean Pierre
                        birthDate: 1995-02-15
                        genderCode: M
                        frenchNationality: true
                        birthLocationCode: '33063'
                        professionalLastName: Durant
                      message: "Le compte PSI a été créé avec succès."
                      rnippData:
                        metadonnees:
                          dateIdentification: 2025-06-03 09:17:45+00:00
                          codeReponseIdentification: 2
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: O
                        individu:
                          identites:
                            - statut: O
                              nom: DUPONT
                              prenoms:
                                - Jean
                                - Pierre
                            - statut: C
                              nom: DUPONT
                          sexe: M
                          naissance:
                            date: 1995-02-15
                            lieu:
                              code: '33063'
                              libelleCommune: Bordeaux
                              libellePays: France
                            numeroActe: '1234'
                          deces: null
                    activity:
                      status: 400
                      code: E04_U010_ACTIVITY_FAILED
                      message: La création de l'activité a échoué
                    cardOrderPsi:
                      status: 424
                      code: E04_U010_CARD_ORDER_FAILED_DEPENDENCY
                      message: La commande de carte n'a pas pu être traitée car une opération préalable a échoué.

                RegisterSuccessWithActivitySuccessAndCardOrderCpsSuccessResponse:
                  summary: Réponse inscription PS avec création d'activité réussie et commande de carte CPS réussie
                  value:
                    status: 207
                    identity:
                      status: 201
                      id: 550e8400-e29b-41d4-a716-446655440002
                      rppsIdentifiers:
                        - '810000000000'
                      identityTraits:
                        lastName: DUPONT
                        firstNames: Jean Pierre
                        birthDate: 1995-02-15
                        genderCode: M
                        frenchNationality: true
                        birthLocationCode: '33063'
                        professionalLastName: Durant
                      message: "Le compte PSI a été créé avec succès."
                      rnippData:
                        metadonnees:
                          dateIdentification: 2025-06-03 09:17:45+00:00
                          codeReponseIdentification: 2
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: O
                        individu:
                          identites:
                            - statut: O
                              nom: DUPONT
                              prenoms:
                                - Jean
                                - Pierre
                            - statut: C
                              nom: DUPONT
                          sexe: M
                          naissance:
                            date: 1995-02-15
                            lieu:
                              code: '33063'
                              libelleCommune: Bordeaux
                              libellePays: France
                            numeroActe: '1234'
                          deces: null
                    activity:
                      status: 201
                      code: E04_U010_ACTIVITY_CREATED
                      message: L'activité a été créée
                    cardOrderCps:
                      status: 201
                      code: E04_U010_CARD_ORDER_SUCCESSFUL
                      message: La commande de carte a été effectuée avec succès

                RegisterSuccessWithActivityRefusedResponse:
                  summary: Réponse inscription PS avec création d'activité refusée
                  value:
                    status: 207
                    identity:
                      status: 201
                      id: 550e8400-e29b-41d4-a716-446655440003
                      rppsIdentifiers:
                        - '810000000000'
                      identityTraits:
                        lastName: DUPONT
                        firstNames: Jean Pierre
                        birthDate: 1995-02-15
                        genderCode: M
                        frenchNationality: true
                        birthLocationCode: '33063'
                        professionalLastName: Durant
                      message: "Le compte PSI a été créé avec succès. Plusieurs numéros RPPS ont été trouvé pour ces traits d'identité."
                      rnippData:
                        metadonnees:
                          dateIdentification: 2025-06-03 09:17:45+00:00
                          codeReponseIdentification: 2
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: O
                        individu:
                          identites:
                            - statut: O
                              nom: DUPONT
                              prenoms:
                                - Jean
                                - Pierre
                            - statut: C
                              nom: DUPONT
                          sexe: M
                          naissance:
                            date: 1995-02-15
                            lieu:
                              code: '33063'
                              libelleCommune: Bordeaux
                              libellePays: France
                            numeroActe: '1234'
                          deces: null
                    activity:
                      status: 400
                      code: E04_U010_ACTIVITY_BAD_REQUEST
                      erreurs:
                        - message: "Le format de la date doit être 'AAAA-MM-DD' (ex:2025-12-30) pour le champ : 'dateDebutActivite'"
                        - message: "paramètre obligatoire manquant codeProfession"

                RegisterConflictWithActivitySuccessResponse:
                  summary: Réponse compte PSI déjà existant avec modification d'activité réussie
                  value:
                    status: 207
                    identity:
                      status: 409
                      psiIdentifier: 550e8400-e29b-41d4-a716-446655440004
                      rppsIdentifiers:
                        - '810000000000'
                      error: Le compte PSI existe déjà
                      code: "E04_U010_KO_PSI_ACCOUNT_ALREADY_EXIST_AND_HAVE_ONE_RPPS_ID"
                    activity:
                      status: 200
                      code: E04_U010_ACTIVITY_UPDATED
                      message: L'activité a été modifiée

                accountAlreadyExistsOneRppsCardOrderSuccessful:
                  summary: Réponse compte PSI déjà existant avec commande de carte effectuée
                  value:
                    status: 207
                    identity:
                      status: 409
                      psiIdentifier: 550e8400-e29b-41d4-a716-446655440010
                      rppsIdentifiers:
                        - '810000000000'
                      error: Le compte PSI existe déjà. La commande de carte a été effectuée avec succès.
                      code: E04_U010_KO_PSI_ACCOUNT_ALREADY_EXIST_AND_HAVE_ONE_RPPS_ID_CARD_ORDER_REQUESTED_SUCCESSFUL
                    cardOrderPsi:
                      status: 200
                      addressee: DR DUPONT Jean
                      shippingAddress: 10 RUE DE LA PAIX Bâtiment B 75002 PARIS FRANCE
                      code: E04_U010_CARD_ORDER_SUCCESSFUL
                      message: La commande de carte a été effectuée avec succès.
                
                
                RegisterForeignRnippKOWithActivitySuccessResponse:
                  summary: Inscription d'un PS étranger non trouvé au RNIPP avec création d'activité réussie
                  description: Si le PS est de nationalité étrangère et n'est pas trouvé au RNIPP, une création d'activité est tout de même possible
                  value:
                    status: 207
                    identity:
                      status: 404
                      rppsIdentifiers:
                        - '810000000000'
                      error: La personne n'existe pas au RNIPP, le compte PSI ne peut pas être créé
                      code: "E04_U010_KO_RNIPP_NOT_FOUND"
                      rnippData:
                        metadonnees:
                          dateIdentification: "2026-09-10T17:11:52.64184701"
                          codeReponseIdentification: 8
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: null
                        individu: null
                    activity:
                      status: 201
                      code: E04_U010_ACTIVITY_CREATED
                      message: L'activité a été créée

                RegisterWithCardOrderSuccessResponse:
                  summary: Réponse inscription PS avec commande de carte PSI réussie
                  value:
                    status: 207
                    identity:
                      status: 201
                      id: 550e8400-e29b-41d4-a716-446655440006
                      rppsIdentifiers:
                        - '810000000000'
                      identityTraits:
                        lastName: DUPONT
                        firstNames: Jean Pierre
                        birthDate: 1995-02-15
                        genderCode: M
                        frenchNationality: true
                        birthLocationCode: '33063'
                        professionalLastName: Durant
                      message: "Le compte PSI a été créé avec succès. Plusieurs numéros RPPS ont été trouvé pour ces traits d'identité."
                      rnippData:
                        metadonnees:
                          dateIdentification: 2025-06-03 09:17:45+00:00
                          codeReponseIdentification: 2
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: O
                        individu:
                          identites:
                            - statut: O
                              nom: DUPONT
                              prenoms:
                                - Jean
                                - Pierre
                            - statut: C
                              nom: DUPONT
                          sexe: M
                          naissance:
                            date: 1995-02-15
                            lieu:
                              code: '33063'
                              libelleCommune: Bordeaux
                              libellePays: France
                            numeroActe: '1234'
                          deces: null
                    cardOrderPsi:
                      status: 201
                      code: E04_U010_CARD_ORDER_SUCCESSFUL
                      message: La commande de carte a été effectuée avec succès.
                      addressee: DR DUPONT Jean
                      shippingAddress: 10 RUE DE LA PAIX Bâtiment B 75002 PARIS FRANCE
                RegisterWithCardOrderRefusedResponse:
                  summary: Réponse inscription PS avec commande de carte PSI refusée
                  value:
                    status: 207
                    identity:
                      status: 201
                      id: 550e8400-e29b-41d4-a716-446655440007
                      rppsIdentifiers:
                        - '810000000000'
                      identityTraits:
                        lastName: DUPONT
                        firstNames: Jean Pierre
                        birthDate: 1995-02-15
                        genderCode: M
                        frenchNationality: true
                        birthLocationCode: '33063'
                        professionalLastName: Durant
                      message: "Le compte PSI a été créé avec succès. Plusieurs numéros RPPS ont été trouvé pour ces traits d'identité."
                      rnippData:
                        metadonnees:
                          dateIdentification: 2025-06-03 09:17:45+00:00
                          codeReponseIdentification: 2
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: O
                        individu:
                          identites:
                            - statut: O
                              nom: DUPONT
                              prenoms:
                                - Jean
                                - Pierre
                            - statut: C
                              nom: DUPONT
                          sexe: M
                          naissance:
                            date: 1995-02-15
                            lieu:
                              code: '33063'
                              libelleCommune: Bordeaux
                              libellePays: France
                            numeroActe: '1234'
                          deces: null
                    cardOrderPsi:
                      status: 400
                      code: E04_U010_CARD_ORDER_REFUSED
                      message: La commande de carte a été refusée car l'adresse fournie est incorrecte (vous pouvez la vérifier sur https://adresse.data.gouv.fr/).
                      addressee: DR DUPONT Jean
                      shippingAddress: 10 RUE DE LA PAIX Bâtiment B 75002 PARIS FRANCE

                RegisterWithCardOrderCpsSuccessResponse:
                  summary: Réponse inscription PS avec commande de carte CPS réussie
                  value:
                    status: 207
                    identity:
                      status: 201
                      id: 550e8400-e29b-41d4-a716-446655440006
                      rppsIdentifiers:
                        - '810000000000'
                      identityTraits:
                        lastName: DUPONT
                        firstNames: Jean Pierre
                        birthDate: 1995-02-15
                        genderCode: M
                        frenchNationality: true
                        birthLocationCode: '33063'
                        professionalLastName: Durant
                      message: "Le compte PSI a été créé avec succès. Plusieurs numéros RPPS ont été trouvé pour ces traits d'identité."
                      rnippData:
                        metadonnees:
                          dateIdentification: 2025-06-03 09:17:45+00:00
                          codeReponseIdentification: 2
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: O
                        individu:
                          identites:
                            - statut: O
                              nom: DUPONT
                              prenoms:
                                - Jean
                                - Pierre
                            - statut: C
                              nom: DUPONT
                          sexe: M
                          naissance:
                            date: 1995-02-15
                            lieu:
                              code: '33063'
                              libelleCommune: Bordeaux
                              libellePays: France
                            numeroActe: '1234'
                          deces: null
                    cardOrderCps:
                      status: 201
                      code: E04_U010_CARD_ORDER_SUCCESSFUL
                      message: La commande de carte a été effectuée avec succès.
                
                RegisterWithCardOrderCpsRefusedResponse:
                  summary: Réponse inscription PS avec commande de carte CPS refusée
                  value:
                    status: 207
                    identity:
                      status: 201
                      id: 550e8400-e29b-41d4-a716-446655440007
                      rppsIdentifiers:
                        - '810000000000'
                      identityTraits:
                        lastName: DUPONT
                        firstNames: Jean Pierre
                        birthDate: 1995-02-15
                        genderCode: M
                        frenchNationality: true
                        birthLocationCode: '33063'
                        professionalLastName: Durant
                      message: "Le compte PSI a été créé avec succès. Plusieurs numéros RPPS ont été trouvé pour ces traits d'identité."
                      rnippData:
                        metadonnees:
                          dateIdentification: 2025-06-03 09:17:45+00:00
                          codeReponseIdentification: 2
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: O
                        individu:
                          identites:
                            - statut: O
                              nom: DUPONT
                              prenoms:
                                - Jean
                                - Pierre
                            - statut: C
                              nom: DUPONT
                          sexe: M
                          naissance:
                            date: 1995-02-15
                            lieu:
                              code: '33063'
                              libelleCommune: Bordeaux
                              libellePays: France
                            numeroActe: '1234'
                          deces: null
                    cardOrderCps:
                      status: 400
                      code: E04_U010_CARD_ORDER_REFUSED
                      message: La commande de carte CPS a été refusée par le service concerné.

        '400':
          description: 'La requête est invalide : le schéma des données n''est pas
            respecté, des champs obligatoires sont manquants ou le RNIPP n''a pas
            trouvé d''identité sans divergence pour les traits d''identité fournis
            (code réponse identification RNIPP <> 2,8)'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ValidationErrorRnippDto'
                  - $ref: '#/components/schemas/ValidationSyntaxErrorRnippDto'
                  - $ref: '#/components/schemas/ValidationErrorDto'
                  - $ref: '#/components/schemas/ValidationErrorWithActivityDto'
              examples:
                rnippWithDivergences:
                  summary: Divergence de traits d'identité
                  value:
                    timestamp: 2024-02-27 14:45:00.593000+00:00
                    status: 400
                    identity:
                      status: 400
                      error: Une identité a été trouvé au RNIPP mais elle diverge des
                        traits d'identité fournis
                      code: E04_U010_KO_RNIPP_FOUND_WITH_DIVERGENCES
                      rnippData:
                        metadonnees:
                          dateIdentification: 2025-06-03 09:17:45+00:00
                          codeReponseIdentification: 3
                          divergences:
                            nom: true
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: O
                        individu:
                          identites:
                            - statut: O
                              nom: DURAND
                              prenoms:
                                - Jeanne
                                - Catherine
                                - Marguerite
                            - statut: C
                              nom: DUPONT
                          sexe: F
                          naissance:
                            date: 1980-07-15
                            lieu:
                              code: '57463'
                              libelleCommune: Metz
                              libellePays: France
                            numeroActe: '1234'
                          deces:
                            date: 2025-06-15
                            lieu:
                              code: '76540'
                              libelleCommune: Rouen
                              libellePays: France
                            numeroActe: '15'
                    path: /v1/identities
                rnippSyntaxError:
                  summary: Erreur de syntaxe du RNIPP
                  value:
                    timestamp: 2024-02-27 14:45:00.593000+00:00
                    status: 400
                    identity:
                      status: 400
                      error: La demande a été rejetée par le RNIPP en raison d'erreurs
                        de syntaxe détectées dans les éléments d'état civil
                      code: E04_U010_KO_RNIPP_SYNTAX_ERROR
                      rnippData:
                        metadonnees:
                          dateIdentification: 2025-06-03 09:17:45+00:00
                          codeReponseIdentification: 9
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: null
                    path: /v1/identities
                badFields:
                  summary: Erreur de saisie
                  value:
                    timestamp: 2024-02-27 14:45:00.593000+00:00
                    status: 400
                    identity:
                      status: 400
                      error: Des erreurs ont été détectées lors de la validation. Veuillez
                        consulter le détail
                      code: E04_U010_KO_FORMAT_DATE
                      detail:
                        - object: registerIdentityRequestDto
                          field: birthDate
                          message: 'Le format de date est invalide. Format attendu : aaaa-MM-jj'
                          rejected: 01-01-2000
                          constraint: Pattern
                    path: /v1/identities

                badFieldsWithActivity:
                  summary: Erreur de saisie avec une tentative de création d'activité
                  value:
                    timestamp: 2024-02-27 14:45:00.593000+00:00
                    status: 400
                    identity:
                      status: 400
                      error: Des erreurs ont été détectées lors de la validation. Veuillez
                        consulter le détail
                      code: E04_U010_KO_FORMAT_DATE
                      detail:
                        - object: registerIdentityRequestDto
                          field: birthDate
                          message: 'Le format de date est invalide. Format attendu : aaaa-MM-jj'
                          rejected: 01-01-2000
                          constraint: Pattern
                    activity:
                      status: 424
                      code: E04_U010_ACTIVITY_FAILED_DEPENDENCY
                      message: La création d'activité n'a pas pu aboutir en raison d'un échec dans la création de l'identité PSI
                    path: /v1/identities
                rnippFrenchWithDivergencesWithActivity:
                  summary: PS français, divergence de traits d'identité et tentative de création d'activité
                  description: Si le PS est de nationalité française et que des divergences sont détectées par le RNIPP, la création d'activité ne peut pas être réalisée
                  value:
                    timestamp: 2024-02-27 14:45:00.593000+00:00
                    status: 400
                    identity:
                      status: 400
                      error: Une identité a été trouvé au RNIPP mais elle diverge des
                        traits d'identité fournis
                      code: E04_U010_KO_RNIPP_FOUND_WITH_DIVERGENCES
                      rnippData:
                        metadonnees:
                          dateIdentification: 2025-06-03 09:17:45+00:00
                          codeReponseIdentification: 3
                          divergences:
                            nom: true
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: O
                        individu:
                          identites:
                            - statut: O
                              nom: DURAND
                              prenoms:
                                - Jeanne
                                - Catherine
                                - Marguerite
                            - statut: C
                              nom: DUPONT
                          sexe: F
                          naissance:
                            date: 1980-07-15
                            lieu:
                              code: '57463'
                              libelleCommune: Metz
                              libellePays: France
                            numeroActe: '1234'
                          deces:
                            date: 2025-06-15
                            lieu:
                              code: '76540'
                              libelleCommune: Rouen
                              libellePays: France
                            numeroActe: '15'
                    activity:
                      status: 424
                      code: E04_U010_ACTIVITY_FAILED_DEPENDENCY
                      message: La création d'activité n'a pas pu aboutir en raison d'un échec dans la création de l'identité PSI
                    path: /v1/identities

                accountAlreadyExistsWithActivityFailed:
                  summary: Compte PSI déjà existant, création activité échouée
                  value:
                    timestamp: '2025-09-17T12:40:04.8687343+02:00'
                    status: 400
                    identity:
                      status: 409
                      psiIdentifier: 550e8400-e29b-41d4-a716-446655440008
                      rppsIdentifiers:
                        - '810000000000'
                      error: Le compte PSI existe déjà.
                      code: E04_U010_KO_PSI_ACCOUNT_ALREADY_EXIST_AND_HAVE_ONE_RPPS_ID
                    activity:
                      status: 400
                      code: E04_U010_ACTIVITY_BAD_REQUEST
                      erreurs:
                        - message: "Le format de la date doit être 'AAAA-MM-DD' (ex:2025-12-30) pour le champ : 'dateDebutActivite'"
                        - message: "paramètre obligatoire manquant codeProfession"
                    path: /v1/identities
                idMismatchIdentityWithActivityAndCardOrder:
                  summary: ID fourni n'appartenant pas à la personne (avec activité + commande de carte)
                  value:
                    timestamp: 2024-02-27 14:45:00.593000+00:00
                    status: 400
                    identity:
                      status: 400
                      error: Le nom, le prénom et la date de naissance associés à l’identifiant fourni ne correspondent pas aux informations d’identité transmises
                      code: E04_U010_KO_IDENTITY_MISMATCH_WITH_ID_INPUT
                    activity:
                      status: 424
                      code: E04_U010_ACTIVITY_FAILED_DEPENDENCY
                      message: La création d'activité n'a pas pu aboutir en raison d'un échec dans la création de l'identité PSI
                    cardOrderPsi:
                      status: 424
                      addressee: DR DUPONT Jean
                      shippingAddress: 10 RUE DE LA PAIX Bâtiment B 75002 PARIS FRANCE
                      code: E04_U010_CARD_ORDER_FAILED_DEPENDENCY
                      message: La commande de carte n'a pas pu aboutir en raison d'un échec dans la création de l'identité PSI
                    path: /v1/identities
        '404':
          description: Le RNIPP n'a pas trouvé la personne (code réponse identification
            RNIPP = 8)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/RnippNotFoundErrorDto'
                  - $ref: '#/components/schemas/ForeignRnippNotFoundErrorWithActivityKODto'
              examples:
                rnippNotFound:
                  summary: Personne non trouvée au RNIPP (code d'identification RNIPP = 8)
                  value:
                    timestamp: 2024-02-27 14:45:00.593000+00:00
                    status: 404
                    identity:
                      status: 404
                      rppsIdentifiers:
                        - '810000000000'
                      error: La personne n'existe pas au RNIPP, le compte PSI ne peut pas être créé
                      code: E04_U010_KO_RNIPP_NOT_FOUND
                      rnippData:
                        metadonnees:
                          dateIdentification: "2026-09-10T17:11:52.64184701"
                          codeReponseIdentification: 8
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: null
                        individu: null
                    path: /v1/identities

                rnippForeignWithDivergencesWithActivity:
                  summary: PS étranger, n'existe pas au RNIPP, et création d'activité refusée
                  description: Si le PS est de nationalité étrangère et qu'il n'a pas été trouvé par le RNIPP, la création d'activité peut être réalisée (à condition que l'entrée de l'activité soit valide)
                  value:
                    timestamp: 2024-02-27 14:45:00.593000+00:00
                    status: 404
                    identity:
                      status: 404
                      rppsIdentifiers:
                        - '810000000000'
                      error: La personne n'existe pas au RNIPP, le compte PSI ne peut pas être créé
                      code: E04_U010_KO_RNIPP_NOT_FOUND
                      rnippData:
                        metadonnees:
                          dateIdentification: "2026-09-10T17:11:52.64184701"
                          codeReponseIdentification: 8
                          divergences:
                            nom: false
                            prenoms: false
                            sexe: false
                            dateNaissance: false
                            lieuNaissance: false
                          statutDuNomIdentifie: null
                        individu: null
                    activity:
                      status: 400
                      code: E04_U010_ACTIVITY_BAD_REQUEST
                      erreurs:
                        - message: "Le format de la date doit être 'AAAA-MM-DD' (ex:2025-12-30) pour le champ : 'dateDebutActivite'"
                        - message: "paramètre obligatoire manquant codeProfession"
                    path: /v1/identities
        '409':
          description: Le compte PSI existe déjà pour ces traits d'identité
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAlreadyExistsErrorDto'
              examples:
                accountAlreadyExistsOneRpps:
                  summary: Compte PSI déjà existant
                  value:
                    timestamp: '2025-09-17T12:40:04.8687343+02:00'
                    status: 409
                    identity:
                      status: 409
                      psiIdentifier: 550e8400-e29b-41d4-a716-446655440008
                      rppsIdentifiers:
                        - '810000000000'
                      error: Le compte PSI existe déjà.
                      code: E04_U010_KO_PSI_ACCOUNT_ALREADY_EXIST_AND_HAVE_ONE_RPPS_ID
                    path: /v1/identities
        '500':
          description: Erreur interne serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericInternalServerErrorDto'
        '503':
          description: Service temporairement indisponible
      security:
        - ApiKeyAuth: [ ]
components:
  schemas:
    FirstNames:
      type: string
      description: Prénom(s) de l'état civil tels que trouvés au RNIPP.
      example: Jean Pierre
    LastName:
      type: string
      description: Nom de famille de l'état civil tel que trouvé au RNIPP
      example: DUPONT
    BirthDate:
      minLength: 1
      type: string
      description: Date de naissance au format ISO-8601
      example: 1995-02-15
    GenderCode:
      type: string
      description: 'Sexe :

        - "M" : Masculin

        - "F" : Féminin

        - "I" : Inconnu

        '
      example: M
      enum:
        - M
        - F
        - I
    BirthLocationCode:
      maxLength: 5
      minLength: 5
      type: string
      description: Code INSEE du lieu de naissance. Correspond au code INSEE de la
        commune de naissance si le pays de naissance est la France ou au code INSEE
        du pays de naissance si la personne est née à l'étranger
      example: '99103'
    BirthPlace:
      minLength: 1
      type: string
      description: Obligatoire uniquement si le code lieu naissance (birthLocationCode)
        est un pays étranger. Correspond au label de la ville étrangère à la France
      example: OSLO
    ProfessionalLastName:
      minLength: 1
      type: string
      description: Nom de famille professionnel
      example: Durant
    Email:
      minLength: 1
      type: string
      description: 'Adresse email de contact :

        - Pour un ES : obligatoire.

        - Pour un RPPS : facultatif.'

      format: email
      example: jean.dupont@gmail.com
    Phone:
      minLength: 1
      type: string

      description: "Numéro de téléphone avec indicatif :

        - Pour un ES : obligatoire.

        - Pour un RPPS : facultatif et l'indicatif est set à +33 par défaut si un numéro est présent mais aucun indicatif."
      pattern: ^\+?[0-9]{4,15}$
      example:
        - '0612345678'
        - '+330612345678'
        - '+33612345678'
    Identifier:
      type: string
      description: 'Identifiant de l''appelant :

        - Pour inscrire un professionnel de santé qui n''a pas la nationalité française : obligatoire  de type RPPS (8), FINESS (3), SIRET (5) ou CAB_RPPS (6) quelque soit l''appelant.

        - Pour un appelant ES : facultatif, de type RPPS (8), FINESS (3), SIRET (5) ou CAB_RPPS (6).

        - Pour un appelant RPPS : obligatoire et de type RPPS (8).

        - Si le bloc cardOrderCps est présent, l''identifiant doit être de type RPPS (8)'

      example: '8100112345678'
    PsiIdentifier:
      type: string
      description: Identifiant PSI du compte déjà créé
      example: 550e8400-e29b-71d4-a716-446655440011
      format: uuid
    StatusPSI:
      type: integer
      description: Status HTTP PSI
      example: 201
      format: int32
    RppsIdentifiers:
      type: array
      description: Liste des identifiants RPPS associés à la personne
      example:
        - '810000000000'
      items:
        type: string
    CardOrderPsiResponse:
      type: object
      properties:
        addressee:
          type: string
          description: Nom du destinataire de la carte
          example: DR DUPONT Jean
        shippingAddress:
          type: string
          description: Adresse de livraison complète sous forme de chaîne de caractères
          example: 10 RUE DE LA PAIX Bâtiment B 75002 PARIS FRANCE
        code:
          $ref: '#/components/schemas/CardCode'
        status:
          $ref: '#/components/schemas/Status'
        message:
          $ref: '#/components/schemas/CardOrderAddressMessage'
    RegisterIdentityRequestDto:
      required:
        - firstNames
        - lastName
        - birthDate
        - birthLocationCode
        - genderCode
      type: object
      properties:
        lastName:
          $ref: '#/components/schemas/LastName'
        firstNames:
          $ref: '#/components/schemas/FirstNames'
        birthDate:
          $ref: '#/components/schemas/BirthDate'
        genderCode:
          $ref: '#/components/schemas/GenderCode'
        frenchNationality:
          $ref: '#/components/schemas/FrenchNationality'
        birthLocationCode:
          $ref: '#/components/schemas/BirthLocationCode'
        birthPlace:
          $ref: '#/components/schemas/BirthPlace'
        professionalLastName:
          $ref: '#/components/schemas/ProfessionalLastName'
        email:
          $ref: '#/components/schemas/Email'
        phone:
          $ref: '#/components/schemas/Phone'
        identifier:
          $ref: '#/components/schemas/Identifier'
        activity:
          $ref: '#/components/schemas/ActivityRequestDto'
        cardOrderPsi:
          $ref: '#/components/schemas/CardOrderPsiRequestDto'
        cardOrderCps:
          $ref: '#/components/schemas/CardOrderCpsRequestDto'
        employment:
          $ref: '#/components/schemas/EmploymentRequestDto'
    IdentityTraitsDto:
      type: object
      properties:
        lastName:
          $ref: '#/components/schemas/LastName'
        firstNames:
          $ref: '#/components/schemas/FirstNames'
        birthDate:
          $ref: '#/components/schemas/BirthDate'
        genderCode:
          $ref: '#/components/schemas/GenderCode'
        birthLocationCode:
          $ref: '#/components/schemas/BirthLocationCode'
        birthPlace:
          $ref: '#/components/schemas/BirthPlace'
        professionalLastName:
          $ref: '#/components/schemas/ProfessionalLastName'
        frenchNationality:
          $ref: '#/components/schemas/FrenchNationality'
      description: Traits d'identité de la personne en lien, tels que trouvés au RNIPP
    RegisterIdentityResponseDto:
      type: object
      properties:
        status:
          type: integer
          description: Code statut HTTP global
          format: int32
          example: 201
        identity:
          $ref: '#/components/schemas/IdentityBlocWithRegistrationOKWithRppsIdsResponseDto'

    RegisterIdentityOKWithActivityResponseDto:
      type: object
      properties:
        status:
          type: integer
          description: Code statut HTTP global
          format: int32
          example: 207
        identity:
          $ref: '#/components/schemas/IdentityBlocWithRegistrationOKWithRppsIdsResponseDto'
        activity:
          oneOf:
            - $ref: '#/components/schemas/ActivityResponseOKDto'
            - $ref: '#/components/schemas/ActivityResponseKODto'

    ForeignRnippNotFoundErrorWithActivityOKDto:
      type: object
      properties:
        status:
          type: integer
          description: Code statut HTTP
          format: int32
          example: 207
        identity:
          $ref: '#/components/schemas/RnippNotFoundIdentityObject'
        activity:
          $ref: '#/components/schemas/ActivityResponseOKDto'

    PSIConflictErrorWithActivityOKDto:
      type: object
      properties:
        status:
          type: integer
          description: Code statut HTTP
          format: int32
          example: 207
        identity:
          $ref: '#/components/schemas/IdentityBlocWithRegistrationConflictResponseDto'
        activity:
          $ref: '#/components/schemas/ActivityResponseOKDto'

    RegisterIdentityOKWithCardOrderPsiResponseDto:
      type: object
      properties:
        status:
          type: integer
          description: Code statut HTTP global
          format: int32
          example: 207
        identity:
          $ref: '#/components/schemas/IdentityBlocWithRegistrationOKWithRppsIdsResponseDto'
        cardOrderPsi:
          $ref: '#/components/schemas/CardOrderPsiResponseDto'

    RegisterIdentityOKWithCardOrderCpsResponseDto:
      type: object
      properties:
        status:
          type: integer
          description: Code statut HTTP global
          format: int32
          example: 207
        identity:
          $ref: '#/components/schemas/IdentityBlocWithRegistrationOKWithRppsIdsResponseDto'
        cardOrderCps:
          $ref: '#/components/schemas/CardOrderCpsResponseDto'


    IdentityBlocWithRegistrationConflictResponseDto:
      description: Informations liées à l'inscription PSI
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StatusPSI'
        psiIdentifier:
          $ref: '#/components/schemas/PsiIdentifier'
        rppsIdentifiers:
          $ref: '#/components/schemas/RppsIdentifiers'
        error:
          type: string
          description: Message d'erreur
          example: Le compte PSI existe déjà.
        code:
          type: string
          description: Code interne de l'erreur
          example: E04_U010_KO_PSI_ACCOUNT_ALREADY_EXIST_AND_HAVE_ONE_RPPS_ID

    IdentityBlocWithRegistrationOKWithRppsIdsResponseDto:
      description: Informations liées à l'inscription PSI
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StatusPSI'
        id:
          $ref: '#/components/schemas/PsiIdentifier'
        rppsIdentifiers:
          $ref: '#/components/schemas/RppsIdentifiers'
        identityTraits:
          $ref: '#/components/schemas/IdentityTraitsDto'
        message:
          type: string
          description: Message lié à l'inscription PSI
          example: Le compte PSI a été créé avec succès. Aucun numéro RPPS n'a été trouvé pour ces traits d'identité.
        rnippData:
          $ref: '#/components/schemas/RnippData'

    ActivityResponseOKDto:
      type: object
      properties:
        status:
          type: integer
          description: Code statut HTTP de la création (200) ou à la modification (201) d'activité
          format: int32
          example: 201
        code:
          $ref: '#/components/schemas/ActivityCode'
        message:
          type: string
          description: Message lié à la création/modification d'activité
          example: L'activité a été créée

    ActivityCode:
      type: string
      description: Code interne lié à la création/modification d'activité
      enum:
        - E04_U010_ACTIVITY_CREATED
        - E04_U010_ACTIVITY_UPDATED
        - E04_U010_ACTIVITY_FAILED_DEPENDENCY
        - E04_U010_ACTIVITY_SERVICE_UNAVAILABLE
        - E04_U010_ACTIVITY_BAD_REQUEST
    ActivityResponseKODto:
      type: object
      properties:
        status:
          type: integer
          description: Code statut HTTP
          format: int32
          example: 400
        code:
          $ref: '#/components/schemas/ActivityCode'
        erreurs:
          type: array
          description: Liste des erreurs liées à la création/modification d'activité
          items:
            type: object
            properties:
              message:
                type: string
                description: Message d'erreur
            required:
              - message
          example:
            - message: "Le format de la date doit être 'AAAA-MM-DD' (ex:2025-12-30) pour le champ : 'dateDebutActivite'"
            - message: "l'habilitation appliqué ne permet pas d'utiliser ce codeProfession"
            - message: "paramètre obligatoire manquant {$param}"
            - message: "paramètre {$param} utilise une valeure non autorisée ou inconnue"
            - message: "La catégorie professionnelle utilise une valeure non autorisée ou inconnue."
            - message: "La fonction utilise une valeure non autorisée ou inconnue."
            - message: "Le Role utilise une valeure non autorisée ou inconnue."
            - message: "Le modeExercice utilise une valeure non autorisée ou inconnue."
            - message: "Le motifFinActivite utilise une valeure non autorisée ou inconnue."
            - message: "L idPP n'existe pas au RPPS"
            - message: "L exercice professionnel n'existe pas au RPPS pour cette profession et/ou cette catégorie professionnelle"
            - message: "La dateFinActivite est antérieure à la date de début d'activité ."
            - message: "La profession et le rôle saisis sont non compatibles avec le secteur d activité  de la structure vis à vis de la matrice DMP"
            - message: "Le format du numéro SIRET n'est pas conforme, veuillez le modifier"
            - message: "Le format du numéro FINESSET n'est pas conforme, veuillez le modifier"
            - message: "Le format du numéro RPPS RANG n'est pas conforme, veuillez le modifier"
            - message: "Nous avons détecté plusieurs identifiants structure (SIRET, FINESS, RPPS RANG), veuillez en utiliser qu'un seul"

    ErrorDetailDto:
      type: object
      properties:
        object:
          type: string
          description: Objet porteur de l'erreur
          example: registerIdentityRequestDto
        field:
          type: string
          description: Champ à l'origine de l'erreur
          example: birthLocationCode
        message:
          type: string
          description: Message détaillant l'erreur
          example: Le code du pays de naissance doit comporter exactement 5 caractères.
        rejected:
          type: string
          description: Valeur rejetée
          example: '991029'
        constraint:
          type: string
          description: Type de contrainte non repectée par le champ en erreur
          example: Pattern
    ValidationSyntaxErrorRnippDto:
      type: object
      properties:
        timestamp:
          type: string
          description: Instant auquel s'est produit l'erreur
          format: date-time
          example: '2024-02-27T14:45:00.593000+00:00'
        status:
          type: integer
          description: Code statut HTTP
          format: int32
          example: 400
        identity:
          type: object
          properties:
            status:
              $ref: '#/components/schemas/StatusPSI'
            error:
              type: string
              description: Message d'erreur
              example: La demande a été rejetée par le RNIPP en raison d'erreurs de syntaxe
                détectées dans les éléments d'état civil
            code:
              type: string
              description: Code interne de l'erreur
              example: E04_U010_KO_RNIPP_SYNTAX_ERROR
            rnippData:
              $ref: '#/components/schemas/ShortRnippData'
        path:
          type: string
          description: URL de base de la ressource à l'origine de l'erreur
          example: /v1/identities

    ValidationErrorWithActivityDto:
      type: object
      properties:
        timestamp:
          type: string
          description: Instant auquel s'est produit l'erreur
          format: date-time
          example: '2024-02-27T14:45:00.593000+00:00'
        status:
          type: integer
          description: Code statut HTTP
          format: int32
          example: 400
        identity:
          type: object
          properties:
            status:
              $ref: '#/components/schemas/StatusPSI'
            error:
              type: string
              description: Message d'erreur
              example: 'Le format de date est invalide. Format attendu : aaaa-mm-jj'
              enum:
                - Le nom est obligatoire
                - Le prénom est obligatoire
                - Le genre est obligatoire
                - La date de naissance est obligatoire
                - Le lieu de naissance est obligatoire
                - L'email est obligatoire pour un appelant ES
                - Le numéro de téléphone est obligatoire pour un appelant ES
                - L'indicatif téléphonique est obligatoire pour un appelant ES
                - 'Le format de date est invalide. Format attendu : aaaa-mm-jj'
                - 'Le code genre fourni est invalide. Valeur autorisée : F ou M ou I'
                - L'email fourni est invalide
                - Le numéro de téléphone n'est pas valide
                - L'indicatif téléphonique n'est pas valide
                - L'adresse fournie n'est pas utilisable (vous pouvez la vérifier sur https://adresse.data.gouv.fr/)
                - Lorsque le pays de naissance est la France (ou n'est pas renseigné), le
                  code du lieu de naissance doit comporte exactement 5 caractères
                - Le code du pays de naissance doit comporter exactement 5 caractères
                - L'identifiant doit être de type RPPS, FINESS, SIRET ou CAB_RPPS
            code:
              type: string
              description: Code interne de l'erreur
              example: E04_U010_KO_FORMAT_DATE
              enum:
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_LAST_NAME
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_FIRST_NAMES
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_GENDER_CODE
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_BIRTH_DATE
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_BIRTH_PLACE
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_EMAIL
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_PHONE
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_PHONE_PREFIX
                - E04_U010_KO_FORMAT_DATE
                - E04_U010_KO_FORMAT_GENDER
                - E04_U010_KO_FORMAT_EMAIL
                - E04_U010_KO_FORMAT_PHONE
                - E04_U010_KO_FORMAT_PHONE_PREFIX
                - E04_U010_KO_FORMAT_ADDRESS
                - E04_U010_KO_FORMAT_BIRTH_PLACE
                - E04_U010_KO_FORMAT_BIRTH_LOCATION_CODE
                - E04_U010_KO_FORMAT_IDENTIFIER
            detail:
              type: array
              description: Détails de l'erreur
              items:
                $ref: '#/components/schemas/ErrorDetailDto'
        activity:
          $ref: '#/components/schemas/ActivityResponseOKDto'
        path:
          type: string
          description: URL de base de la ressource à l'origine de l'erreur
          example: /v1/identities
    ValidationErrorRnippDto:
      type: object
      properties:
        timestamp:
          type: string
          description: Instant auquel s'est produit l'erreur
          format: date-time
          example: '2024-02-27T14:45:00.593000+00:00'
        status:
          type: integer
          description: Code statut HTTP
          format: int32
          example: 400
        identity:
          type: object
          properties:
            status:
              $ref: '#/components/schemas/StatusPSI'
            error:
              type: string
              description: Message d'erreur
              example: Une identité a été trouvé au RNIPP mais elle diverge des traits
                d'identité fournis
            code:
              type: string
              description: Code interne de l'erreur
              example: E04_U010_KO_RNIPP_FOUND_WITH_DIVERGENCES
            rnippData:
              $ref: '#/components/schemas/RnippData'
        path:
          type: string
          description: URL de base de la ressource à l'origine de l'erreur
          example: /v1/identities
    ValidationErrorDto:
      type: object
      properties:
        timestamp:
          type: string
          description: Instant auquel s'est produit l'erreur
          format: date-time
          example: '2024-02-27T14:45:00.593000+00:00'
        status:
          type: integer
          description: Code statut HTTP
          format: int32
          example: 400
        identity:
          type: object
          properties:
            status:
              $ref: '#/components/schemas/StatusPSI'
            error:
              type: string
              description: Message d'erreur
              example: 'Le format de date est invalide. Format attendu : aaaa-mm-jj'
              enum:
                - Le nom est obligatoire
                - Le prénom est obligatoire
                - Le genre est obligatoire
                - La date de naissance est obligatoire
                - Le lieu de naissance est obligatoire
                - L'email est obligatoire pour un appelant ES
                - Le numéro de téléphone est obligatoire pour un appelant ES
                - L'indicatif téléphonique est obligatoire pour un appelant ES
                - 'Le format de date est invalide. Format attendu : aaaa-mm-jj'
                - 'Le code genre fourni est invalide. Valeur autorisée : F ou M ou I'
                - L'email fourni est invalide
                - Le numéro de téléphone n'est pas valide
                - L'indicatif téléphonique n'est pas valide
                - L'adresse fournie n'est pas utilisable (vous pouvez la vérifier sur https://adresse.data.gouv.fr/)
                - Lorsque le pays de naissance est la France (ou n'est pas renseigné), le
                  code du lieu de naissance doit comporte exactement 5 caractères
                - Le code du pays de naissance doit comporter exactement 5 caractères
                - L'identifiant doit être de type RPPS, FINESS, SIRET ou CAB_RPPS
            code:
              type: string
              description: Code interne de l'erreur
              example: E04_U010_KO_FORMAT_DATE
              enum:
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_LAST_NAME
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_FIRST_NAMES
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_GENDER_CODE
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_BIRTH_DATE
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_BIRTH_PLACE
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_EMAIL
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_PHONE
                - E04_U010_KO_FORMAT_REQUIRED_FIELD_PHONE_PREFIX
                - E04_U010_KO_FORMAT_DATE
                - E04_U010_KO_FORMAT_GENDER
                - E04_U010_KO_FORMAT_EMAIL
                - E04_U010_KO_FORMAT_PHONE
                - E04_U010_KO_FORMAT_PHONE_PREFIX
                - E04_U010_KO_FORMAT_ADDRESS
                - E04_U010_KO_FORMAT_BIRTH_PLACE
                - E04_U010_KO_FORMAT_BIRTH_LOCATION_CODE
                - E04_U010_KO_FORMAT_IDENTIFIER
            detail:
              type: array
              description: Détails de l'erreur
              items:
                $ref: '#/components/schemas/ErrorDetailDto'
        path:
          type: string
          description: URL de base de la ressource à l'origine de l'erreur
          example: /v1/identities

    RnippNotFoundIdentityObject:
      properties:
        identity:
          properties:
            status:
              type: integer
              description: Code statut HTTP
              format: int32
              example: 404
            rppsIdentifiers:
              $ref: '#/components/schemas/RppsIdentifiers'
            error:
              type: string
              description: Message d'erreur
              example: La personne n'existe pas au RNIPP, le compte PSI ne peut pas être
                créé
            code:
              type: string
              description: Code interne de l'erreur
              example: E04_U010_KO_RNIPP_NOT_FOUND
            rnippData:
              $ref: '#/components/schemas/RnippData'

    ForeignRnippNotFoundErrorWithActivityKODto:
      type: object
      properties:
        timestamp:
          type: string
          description: Instant auquel s'est produit l'erreur
          format: date-time
          example: '2024-02-27T14:45:00.593000+00:00'
        status:
          type: integer
          description: Code statut HTTP
          format: int32
          example: 404
        identity:
          $ref: '#/components/schemas/RnippNotFoundIdentityObject'
        activity:
          $ref: '#/components/schemas/ActivityResponseKODto'
        path:
          type: string
          description: URL de base de la ressource à l'origine de l'erreur
          example: /v1/identities

    RnippNotFoundErrorDto:
      type: object
      properties:
        timestamp:
          type: string
          description: Instant auquel s'est produit l'erreur
          format: date-time
          example: '2024-02-27T14:45:00.593000+00:00'
        status:
          type: integer
          description: Code statut HTTP
          format: int32
          example: 404
        identity:
          $ref: '#/components/schemas/RnippNotFoundIdentityObject'
        path:
          type: string
          description: URL de base de la ressource à l'origine de l'erreur
          example: /v1/identities
    AccountAlreadyExistsErrorDto:
      type: object
      properties:
        timestamp:
          type: string
          description: Instant auquel s'est produit l'erreur
          format: date-time
          example: '2024-02-27T14:45:00.593000+00:00'
        status:
          type: integer
          description: Code statut HTTP
          format: int32
          example: 409
        identity:
          $ref: '#/components/schemas/IdentityBlocWithRegistrationConflictResponseDto'
        cardOrderPsi:
          $ref: '#/components/schemas/CardOrderPsiResponseDto'
        cardOrderCps:
          $ref: '#/components/schemas/CardOrderCpsResponseDto'
        path:
          type: string
          description: URL de base de la ressource à l'origine de l'erreur
          example: /v1/identities
    GenericInternalServerErrorDto:
      type: object
      properties:
        timestamp:
          type: string
          description: Instant auquel s'est produit l'erreur
          format: date-time
          example: '2024-02-27T14:45:00.593000+00:00'
        status:
          type: integer
          description: Code statut HTTP
          format: int32
          example: 500
        error:
          type: string
          description: Message d'erreur
          example: Une erreur interne est survenue lors de l'enregistrement de l'identité,
            veuillez réessayer
        path:
          type: string
          description: URL de base de la ressource à l'origine de l'erreur
          example: /v1/identities
    Sexe:
      type: string
      description: 'Sexe :

        - "M" : Masculin

        - "F" : Féminin

        - "I" : Inconnu

        '
      enum:
        - M
        - F
        - I
    ShortRnippData:
      type: object
      properties:
        metadonnees:
          type: object
          properties:
            dateIdentification:
              type: string
              format: date-time
            codeReponseIdentification:
              type: integer
              description: 'Code indiquant la réponse du système d’identification
                :

                - 9 : demande rejetée au contrôle en raison d’erreurs de syntaxe

                '
              enum:
                - 9
            divergences:
              type: object
              properties:
                nom:
                  type: boolean
                prenoms:
                  type: boolean
                sexe:
                  type: boolean
                dateNaissance:
                  type: boolean
                lieuNaissance:
                  type: boolean
            statutDuNomIdentifie:
              type: string
              description: 'Statut du nom identifié :

                - "O" : Officiel

                - "C" : Conjoint

                - "AO" : Ancien officiel

                - "AC" : Ancien conjoint

                '
              enum:
                - O
                - C
                - AO
                - AC
      example:
        metadonnees:
          dateIdentification: 2025-06-03 09:17:45+00:00
          codeReponseIdentification: 3
          divergences:
            nom: false
            prenoms: false
            sexe: false
            dateNaissance: false
            lieuNaissance: false
          statutDuNomIdentifie: null
    RnippData:
      type: object
      properties:
        metadonnees:
          type: object
          properties:
            dateIdentification:
              type: string
              format: date-time
            codeReponseIdentification:
              type: integer
              description: 'Code indiquant la réponse du système d’identification
                :

                - 2 : demande identifiée sans divergence d’état civil

                - 3 : demande identifiée avec divergence d’état civil ou NIR

                - 4 : demande non identifiée mais existence d’un seul écho

                - 6 : demande non identifiée mais existence de plus d’un écho

                - 7 : demande identifiée avec le nom d’usage uniquement

                - 8 : demande non identifiée sans écho

                - 9 : demande rejetée au contrôle en raison d’erreurs de syntaxe

                '
              enum:
                - 2
                - 3
                - 4
                - 6
                - 7
                - 8
                - 9
            divergences:
              type: object
              properties:
                nom:
                  type: boolean
                prenoms:
                  type: boolean
                sexe:
                  type: boolean
                dateNaissance:
                  type: boolean
                lieuNaissance:
                  type: boolean
            statutDuNomIdentifie:
              type: string
              description: 'Statut du nom identifié :

                - "O" : Officiel

                - "C" : Conjoint

                - "AO" : Ancien officiel

                - "AC" : Ancien conjoint

                '
              enum:
                - O
                - C
                - AO
                - AC
        individu:
          type: object
          properties:
            identites:
              type: array
              items:
                type: object
                properties:
                  statut:
                    type: string
                    description: 'Statut de l’identité :

                      - "O" : Officielle

                      - "C" : Du conjoint

                      '
                    enum:
                      - O
                      - C
                  nom:
                    type: string
                  prenoms:
                    type: array
                    items:
                      type: string
            sexe:
              $ref: '#/components/schemas/Sexe'
            naissance:
              $ref: '#/components/schemas/EvenementView'
            deces:
              $ref: '#/components/schemas/EvenementView'
      example:
        metadonnees:
          dateIdentification: 2025-06-03 09:17:45+00:00
          codeReponseIdentification: 3
          divergences:
            nom: false
            prenoms: false
            sexe: false
            dateNaissance: false
            lieuNaissance: true
          statutDuNomIdentifie: O
        individu:
          identites:
            - statut: O
              nom: DURAND
              prenoms:
                - Jeanne
                - Catherine
                - Marguerite
            - statut: C
              nom: DUPONT
          sexe: F
          naissance:
            date: 1980-07-15
            lieu:
              code: '57463'
              libelleCommune: Metz
              libellePays: France
            numeroActe: '1234'
          deces:
            date: 2025-06-15
            lieu:
              code: '76540'
              libelleCommune: Rouen
              libellePays: France
            numeroActe: '15'
    EvenementView:
      type: object
      properties:
        date:
          type: string
          format: date
        lieu:
          type: object
          properties:
            code:
              type: string
            libelleCommune:
              type: string
            libellePays:
              type: string
        numeroActe:
          type: string

    FrenchNationality:
      type: boolean
      description: Indique si la personne possède la nationalité française.
      example: true
      default: true

    CardOrderPsiRequestDto:
      type: object
      description: "Bloc de commande de carte PSI.\n\
        \nIl peut y avoir qu'un type de commande à la fois.\
        \nLorsque ce bloc est présent dans la requête,  l'adresse doit être renseignée et\
        \  valide pour réaliser la commande.\n- Pour une adresse à l'étranger (pays renseigné et différent\
        \ de \"FRANCE\"), au minimum les champs addressee, streetName, city, postalCode et country doivent\
        \ être fournis.\n- Pour une adresse en France (pays non renseigné ou égal\
        \ à \"FRANCE\"), la validité de l'adresse est contrôlée via l'API de géocodage\
        \ IGN/BAN (https://data.geopf.fr/geocodage/search/?q=[numero]+[nom de la voie]+[code\
        \ postal]+[ville])."
      properties:
        addressee:
          type: string
          description: Destinataire (obligatoire en cas de commande de carte à l'étranger)
          example: DR DUPONT Jean
        streetNumber:
          type: string
          description: Numéro dans la voie
          example: '10'
        streetName:
          type: string
          description: Nom de la voie (obligatoire en cas de commande de carte à l'étranger)
          example: RUE DE LA PAIX
        additionalAddress:
          type: string
          description: Complément d'adresse
          example: Bâtiment B
        postalCode:
          type: string
          description: Code postal
          example: '75002'
        city:
          type: string
          description: Ville (obligatoire en cas de commande de carte à l'étranger)
          example: PARIS
        country:
          type: string
          description: Pays (libellé) (obligatoire en cas de commande de carte à l'étranger)
          example: FRANCE

    CardOrderCpsRequestDto:
      type: object
      description: "Bloc de commande de carte CPS.\n\
        \nLorsque ce bloc est présent dans la requête, le \"code profession\" et \
        \  la \"catégorie professionnelle\" doivent être renseignés et valides\" \
        \  pour réaliser la commande."
      properties:
        professionCode:
          type: string
          minLength: 2
          maxLength: 2
          pattern: '^\d{2}$'
          description: "Obligatoire si l'identifiant RPPS est renseigné : Sa valeur fait référence à la profession du professionel de santé et doit appartenir à une liste de valeurs autorisées. 10 pour un médecin, 21 pour un pharmacien, 26 pour un audioprothésiste... (voir TRE G15-ProfessionelSante)"
          example: '10'

        professionalCategoryCode:
          type: string
          enum: [ "C", "E", "M" ]
          description: |
            - "C" : Civil
            - "E" : Etudiant
            - "M" : Agent de l'état

      required:
        - professionCode
        - professionalCategoryCode

    ActivityRequestDto:
      type: object
      description: "Bloc lié à la création ou à la modification d'une activité"
      properties:
        professionCode:
          allOf:
            - $ref: "#/components/schemas/professionCode"
        professionalCategoryCode:
          allOf:
            - $ref: "#/components/schemas/professionalCategoryCode"
        activityStartDate:
          allOf:
            - $ref: "#/components/schemas/activityStartDate"
        activityEndDate:
          allOf:
            - $ref: "#/components/schemas/activityEndDate"
        function:
          allOf:
            - $ref: "#/components/schemas/function"
        activityGenre:
          allOf:
            - $ref: "#/components/schemas/activityGenre"
        practiceMode:
          allOf:
            - $ref: "#/components/schemas/practiceMode"
        liberalActivityTypeCode:
          allOf:
            - $ref: "#/components/schemas/liberalActivityTypeCode"
        activityEndReason:
          allOf:
            - $ref: "#/components/schemas/activityEndReason"
        issuingEstablishment:
          allOf:
            - $ref: "#/components/schemas/issuingEstablishment"
          description: Identifiant FINESS ou SIRET de l'etablissement emetteur de l'appel (doit correspondre a l'identifiant structure utilise dans l'appel)
        numFINESSET:
          allOf:
            - $ref: "#/components/schemas/numFINESSET"
          description: Numéro FINESS de l'établissement géographique. Si défini, les paramètres rppsRank et numSIRET ne doivent pas être renseignés
        numSIRET:
          allOf:
            - $ref: "#/components/schemas/numSIRET"
          description: Numéro SIRET de l'établissement géographique. Si défini, les paramètres numFINESSET et rppsRank ne doivent pas être renseignés
        rppsRank:
          allOf:
            - $ref: "#/components/schemas/rppsRank"
          description: Numéro RPPS RANG de l'établissement géographique. Si défini, les paramètres numFINESSET et numSIRET ne doivent pas être renseignés
      required:
        - professionCode
        - professionalCategoryCode
        - activityStartDate
        - function
        - activityGenre
        - practiceMode
        - issuingEstablishment

    EmploymentRequestDto:
      type: object
      description: "Bloc lié à la création ou à la modification d'un emploi"
      properties:
        function:
          allOf:
            - $ref: "#/components/schemas/employmentFunction"
        issuingEstablishment:
          allOf:
            - $ref: "#/components/schemas/issuingEstablishment"
          description: Identifiant FINESS ou SIRET de l'etablissement emetteur de l'appel (doit correspondre a l'identifiant structure utilise dans l'appel)
        employmentStartDate:
          allOf:
            - $ref: "#/components/schemas/employmentStartDate"
        employmentEndDate:
          allOf:
            - $ref: "#/components/schemas/employmentEndDate"
      required:
        - function
        - issuingEstablishment

    activityEndReason:
      type: string
      description: |
        Voir la NOS de l'ANS pour avoir le jeu complet de valeurs possibles 
        - "AUT" : Autre motif
        - "CHA" : Changement d'activité
        - "CHL" : Changement de lieu d'exercice
        - "CHP" : Changement de profession
        - "DCD" : Décès
        - "ETR" : Départ à l'étranger
        - "RH" : Retraite hospitalière
        - "RL" : Retraite libérale
        - "RS" : Retraite salariée
      example: "AUT"

    issuingEstablishment:
      type: string
      minLength: 2
[...]
